h1.logo-text {
	font-weight: lighter;
	letter-spacing: 0.5rem;
}

header {
	padding: 3rem 0 3rem 3rem;
}

.logo-text #med {
	background-color: var(--blue);
}

.logo-text #icare {
	background-color: var(--light-blue);
}

main {
	margin: 0 auto;
	max-width: 40rem;
}

.greeting {
	padding: 0.5rem 0;
}

.greeting-sub {
	padding: 0.5rem 0;
	font-size: 0.8rem;
}

form {
	margin: 2rem 0;
}

.field {
	padding: 1r;
}

.field input {
	padding: 1rem;
}
