aside * {
	color: var(--white);
}

aside {
	width: 20rem;
	background-color: var(--bg-blue);
}

aside .menu-options {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

aside div.list-container {
	padding-top: 10vh;
	overflow-y: hidden;
	flex-grow: 1;
}

aside div.list-container nav {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 10vh;
}

div.list-container nav::-webkit-scrollbar-track {
	border-radius: 10px;
}

div.list-container nav::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}

div.list-container nav::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--blue);
	visibility: hidden;
}

aside:hover div.list-container nav::-webkit-scrollbar-thumb {
	visibility: visible;
}

aside ul.navigation > li {
	display: flex;
	flex-direction: column;
}

aside ul.navigation > li:hover {
	background-color: var(--black);
}

aside ul.navigation > li .option-display {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
}

aside ul.navigation > li span.material-symbols-outlined,
.footer span.material-symbols-outlined {
	max-width: 2rem;
	overflow: hidden;
	font-size: 2rem;
	margin: 0 1rem;
	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

aside ul.navigation > li span.down-arrow {
	margin: 0 0.5rem 0 auto;
}

aside ul.sub-menu-items {
	background-color: var(--darker-blue);
	height: 0;
	overflow-y: hidden;
}

aside ul.sub-menu-open {
	height: fit-content;
}

aside ul.sub-menu-items li {
	list-style: none;
	padding: 0.8rem 0 0.8rem 4rem;
}

aside ul.sub-menu-items li:hover {
	background-color: var(--highlight-blue);
}

.footer {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid var(--blue);
	background-color: var(--bg-blue);
}
