@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,48');

:root {
	--blue: #3243db;
	--bg-blue: #192279;
	--darker-blue: #131e64;
	--highlight-blue: #0b113a;
	--light-grey: #e9ecef;
	--grey: #817e7e;
	--black: #0c0e10;
	--white: #fdfdfd;
	--secondary-font: 'Roboto', sans-serif;
	--button-grey: #2f3236;
	--success-bg: #c4f2c4;
	--success-text: #157015;
	--error-bg: #f8d0c8;
	--error-text: #e71010;
	--pending: #cdd3ff;
	--new-text: #cc02ff;
	--new-bg: #f2bfff;
}

* {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: var(--black);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h2.heading-text {
	margin: 2rem 0 1rem;
}

h1.logo-text {
	font-weight: lighter;
	letter-spacing: 0.5rem;
	user-select: none;
}

.logo-text #med {
	background-color: var(--blue);
	color: var(--white);
}

.logo-text #icare {
	background-color: var(--light-grey);
}

.secondary-text {
	font-family: var(--secondary-font);
	letter-spacing: 1px;
}

.body-layout {
	position: static;
}

main.main-content {
	padding: 10vh 0;
	margin-left: 16rem;
	background-color: var(--light-grey);
	min-height: 100vh;
	transition: margin-left 200ms ease-in;
	position: relative;
	z-index: 1;
}

main.main-content.widen {
	margin-left: 0;
}

main div.content-box {
	max-width: 50rem;
	margin: 0 auto;
}

span.material-symbols-outlined {
	cursor: default;
	user-select: none;
}

a {
	text-decoration: none;
}

div.notification {
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	border-radius: 0.3rem;
	margin-top: 1rem;
	max-width: 50rem;
}

div.notification span.material-symbols-outlined {
	font-size: 2.5rem;
}

.error-message {
	background-color: var(--error-bg);
	color: var(--error-text);
	column-gap: 0.5rem;
}

.error-message span.material-symbols-outlined {
	color: var(--error-text);
}

.success-message {
	background-color: var(--success-bg);
	color: var(--success-text);
	justify-content: space-between;
}

.success-message span.material-symbols-outlined {
	color: var(--success-text);
}

button.default-button {
	background-color: var(--blue);
	border-radius: 0.2rem;
	padding: 0.5rem 0.8rem;
	border: none;
}

.back-option {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.back-option a {
	display: flex;
	align-items: center;
}

.back-option a:hover,
.back-option a:hover > span.material-symbols-outlined {
	color: var(--bg-blue);
}

span.back-icon {
	margin: 0 0.5rem;
	max-width: 2rem;
	overflow: hidden;
}

@media print {
	main.main-content {
		margin-left: 0;
	}
}
