.body {
  padding-left: 2rem;
  letter-spacing: 0.13rem;
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

h3 {
  margin-top: 1.5rem;
}
input,
select {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 0.5px black solid;
}
.personal,
#address,
#others,
#allergies {
  width: 99.7%;
  margin-top: 0.3rem;
}
#allergies {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  text-align: left;
  margin-top: 0.7rem;
}
#gender,
#genotypeSelection,
#bloodGroup,
#phone,
#email,
#nextOfKinName,
#nextOfKinPhone {
  width: 49.6%;
  margin-top: 0.7rem;
}
#dob {
  width: 47.6%;
  margin-top: 0.7rem;
  cursor: default;
}
#dob2 {
  width: 2%;
  margin-top: 0.7rem;
  margin-left: -0.5rem;
  padding-left: 0rem;
  padding-top: 0.4rem;
  padding-bottom: 0.47rem;
  /* padding-top: 0; */
  /* padding-bottom: 0; */
}
.custom-checkbox {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type="submit"] {
  align-items: end;
}
#submit {
  display: inline-block;
  margin: 1rem auto;
  margin-left: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--blue);
  border-radius: 0.3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  letter-spacing: 0.13rem;
}
